<div class="message-item">
  <div class="message-avatar">
    <i class="user icon"></i>
  </div>
  <div class="message-content">
    <div class="message-username">
      <%= message.user.username %>
    </div>
    <div class="message-text">
      <%= message.body %>
    </div>
  </div>
</div>
