<h1><%= @user.name || @user.username %>'s Profile</h1>

<div class="ui segment">
  <p><strong>Username:</strong> <%= @user.username %></p>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>Joined On:</strong> <%= @user.created_at.strftime("%B %d, %Y") %></p>
</div>