<div class="item">
  <div class="content">
    <strong><%= message.user.username %>:</strong>
    <%= message.content %>
    <span class="date"><%= message.created_at.strftime("%d %b %Y, %H:%M") %></span>
  </div>
</div>
